:root {
  --primary-white: #FFF8E3;
  --primary-black: #222831;
  --primary-gold: #FFC436;

  --font-sm: 1.25rem;
  --font-md: 1.35rem;    
  --font-lg: 1.5rem; 
  --font-xl: 2rem;
  --font-xxl: 2.5rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #9B86BD;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

:root[color-scheme="dark"] {
  --bg-color: var(--primary-black);
  --txt-color: var(--primary-white);
  --primary-shadow: rgb(0, 0, 0, 0.8);
  --secondary-shadow: rgb(255, 255, 255, 0.8);
}

:root[color-scheme="light"] {
  --bg-color:  var(--primary-white);
  --txt-color: var(--primary-black);
  --primary-shadow: rgb(255, 255, 255, 0.8);
  --secondary-shadow: rgb(0, 0, 0, 0.8);
}

body {
  font-size: var(--font-sm);
  padding-top: calc(80px + 0.75rem);
  background-color: var(--bg-color); 
  color: var(--txt-color); 
  transition: 0.25s ease;
}

a { 
  text-decoration: none; 
  color: inherit;
}

.page {
  display: grid;
  place-content: center;
  min-height: calc(100vh - 0.75rem - 80px);
  padding: 2.5rem 15vw 5rem 15vw;
}

// Header ~~~~~~~
header {
  position: fixed;
  top: 0;
  width: calc(100vw - 1.5rem);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  background-color: var(--bg-color); 
  color: var(--txt-color); 
  border-radius: 10px;
  margin: 0.75rem;
  z-index: 1;
  border: 1.5px solid var(--txt-color);
  transition: color 0.25s ease, background-color 0.25s ease;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    font-size: var(--font-xxl);
    font-weight: 800;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0 5rem;
    gap: 5rem;
  }

  li { 
    font-size: var(--font-md); 
  }
}

header button {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto 0;
  border-radius: 5px;
  background-color: var(--txt-color); 
  color: var(--bg-color);
  border: none;
  transition: 0.25s ease;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

header.scrolled {
  background-color: var(--txt-color);
  color: var(--bg-color);

  button {
    color: var(--txt-color);
    background-color: var(--bg-color);
  }
}

// ABOUT ~~~~~~~ 
.about .container{
  h1, h2{
    width: 40%;
    display: inline-block;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--txt-color);
  }
  p{
    font-size: var(--font-md);
    margin: 0.75rem 0;
    text-align: justify;
  }
}

// CREATE ~~~~~~~ 
.create form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80vw;
  padding: 2rem;
  border-radius: 5px;
  color: var(--bg-color);
  background-color: var(--txt-color);
}

.create form input{
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: none;
  border-radius: 5px;
  font-size: var(--font-sm);
  &:hover, &:focus{
    outline: none;
  }
  &::placeholder{
    font-weight: normal;
    font-size: 1.05rem;
    color: var(--txt-color);
  }
}

.create form #title, #slug{
  width: 65%;
  margin: 1rem 0;
  padding: 0.75rem;
  display: block;
}

.create form .taglist{
  font-size: 1.05rem;
  margin-left: 0.75rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
}

.create form label {
  font-size: var(--font-lg);
}

.create form .post-btn{
  background-color: var(--bg-color);
  color: var(--txt-color);
  border-radius: 5px;
  font-size: var(--font-sm);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: 2px solid var(--bg-color);
  transition: 0.25s ease;
  &:hover{
    background-color: var(--txt-color);
    color: var(--bg-color);
  }
}

// CREATE/toastui-editor ~~~~~~~
.toastui-editor-defaultUI{
  box-shadow: 0 0 20px var(--primary-shadow);
}

.toastui-editor-dark{ 
  .toastui-editor-md-container, .toastui-editor-ww-container{
    background-color: #121212;
  }
  // .toastui-editor-contents {}
}

.toastui-editor-toolbar-group{
  .indent, .outdent, .table, .image, .codeblock{
    display: none;
  }
}


